[	ca	]
default_ca	=	ca_default
[	ca_default	]
dir	=	.
new_certs_dir	=	.
private_key	=	ca-private-key.pem
certificate	=	ca-certificate.pem
database	=	index.txt
default_md	=	sha256
serial	=	serial
default_days	=	365
x509_extensions	=	usr_cert
policy	=	generic_policy
[	generic_policy	]
countryName	=	optional
stateOrProvinceName	=	optional
localityName	=	optional
organizationName	=	optional
organizationalUnitName	=	optional
commonName	=	supplied
emailAddress	=	optional
[	usr_cert	]
authorityKeyIdentifier	=	keyid
basicConstraints	=	CA:FALSE
keyUsage	=	digitalSignature
extendedKeyUsage	=	serverAuth
#extendedKeyUsage	=	clientAuth
